*{
    margin: 0 auto;
    padding: 0;
}
body{
	
    width: 100%;
	background: url("");
    background-size: cover;
    background-color: cadetblue;
}
h1{
    color: yellow;
    margin-top: 20px;
}
.p{
    margin-top: 20px;
    font-size: 24px;
    border: 2px solid black;
    padding: 4px;
    margin-bottom: 10px;
}