@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin: 0 auto;
	padding: 0;
	background: url("login.jfif");
	background-size: cover;
}
.login{
	width: 320px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: rgb(15, 252, 7);
	border: 2px solid rgb(20, 20, 20);
	background-color:  rgba(20, 20, 20,0.5);
	padding: 40px;
	border-radius: 30% 20% ;
	
}
.login h1{
	float: left;
	font-size: 50px;
	border-bottom: 5px solid #ffffff;
	margin: 40px 0;
	padding: 13px 0;
}
.text{
	width: 100%;
	overflow: hidden;
	font-size: 25px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 2px solid #ffffff;
}
.text input{
	border:none;
	background: none;
	outline:none;
	color: white;
	font-size: 20px;
	width: 80%;
	float:left;
	margin:0 10px;
}
.text i{
	width: 25px;
	float: left;
	text-align: center;
}
.b{
	width:100%;
	border:2px solid #4caf50;
	font-size: 18px;
	background: none;
	color:rgb(3, 241, 35);
	padding: 5px;
	cursor: pointer;
    margin: 15px 0;
}
.p{
	font-size: 18px;
	color: rgb(247, 231, 231);
}
.p a{
	padding: 8px;
	color: rgb(247, 231, 231);;
}

@media(max-width: 900px)
{
	body{
	margin: 0 auto;
	padding: 0;
	background: url("login.jfif");
	background-size: fill;
}
.login{
	width: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}
.login h1{
	float: left;
	font-size: 20px;
	border-bottom: 3px solid #4caf50;
	margin: 25px 0;
	padding: 7px 0;
}
.text{
	width: 100%;
	overflow: hidden;
	font-size: 10px;
	padding: 4px 0;
	margin: 4px 0;
	border-bottom: 1px solid #4caf50;
}
.text input{
	border:none;
	background: none;
	outline:none;
	color: white;
	font-size: 8px;
	width: 80%;
	float:left;
	margin:0 5px;
	
}
.text i{
	width: 25px;
	float: left;
	text-align: center;
}
.b{
	width:100%;
	border:2px solid #4caf50;
	font-size: 7px;
	background: none;
	color:white;
	padding: 5px;
	cursor: pointer;
    margin: 15px 0;
}
.p{
	font-size: 10px;
}
.p a{
	padding: 4px;
	color: aqua;
}
}