.navcolor{
    color: rgb(248, 246, 246);
}


.navbar{
    border-radius: 6px;
}
.navbar-nav li{
    color: white;
    margin-left: 20px;

}
body{
    background-image: url("cricket.jpg");
    /* background-size: 100%; */
    margin: 0px 0px;
    width: 100%;
    height: auto;
}


.imgr{
    margin-top: 40px;
    width: 48vw;
    height: 450px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.headi{
    margin-top: 25px;
}

.footer{
    background-color:rgb(95, 95, 97) ;
    margin-top: 80px;
    padding: 20px 0px 20px 0px; 
}
